/* Globales */ 

:root {
    --azul: #68bdd6;
    --blanco: #fff;
    --negro: #000;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    margin-top: 15px;
}

h2 {
    color: #fff;
}

h3 {
    color: #fff;
    font-size: 25px;
}

/* main */ 

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
    max-width: 100%;
    margin: 0 auto;
}

main {
    background-image: url(https://w.forfun.com/fetch/fd/fd77c328d2d53d51472ccc5ac12ba7c0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Parrafo e imagen */

picture img{
    object-fit: contain;
    width: 50%; 
    margin: 50px auto;    
}

.alinear{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alin p::first-letter{
    font-size: 40px;
    font-family: 'Rye', cursive;

}

@media (min-width: 768px) {
    .alinear{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    picture img{
        object-fit: contain;
        width: 16%; height: 16%;
        margin: 20px 0 0 20px;    
    }
}