:root {
    --azul: #68bdd6;
    --blanco: #fff;
    --negro: #000;
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

i {
    margin-right: 5px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 18px 0 18px 0;
}

h3 {
    text-align: center;
    font-size: 20px;
}

.fa {
    color: var(--azul);
    font-size: 40px;
    padding: 20px;
}


/* Navegacion */

#Inicio {
    padding-top: 100px;
    padding-bottom: 200px;
}

.Inicio__Iconos {
    padding: 20px;
}

#header {
    background-color: var(--blanco);
    text-align: center;
}

.barra {
    background-color: var(--azul);
    padding: 18px;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px 20px 80px; 
    }

    .Inicio__Titulo {
    font-size: 60px;
    }
}

.logo {
    color: var(--blanco);
    text-align: center;
    font-size: 30px;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 20px;
    }
}

.navegacion a {
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--blanco);
    padding: 5px;
}

/* Grid */

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-bottom: 50px;
} 


.grid img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Secciones */
.artista {
    padding: 10px;
    border-radius: 10px;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion {
    color: var(--negro);
}

/* Footer */

footer {
    width: 100%;
    padding: 6px;
    text-align: center;
    background-color: var(--negro);
    color: var(--blanco);
}


