/* Navegacion */

header article {
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

nav {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background-color: #000;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px;
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Secciones */

#albums h2{
    margin-top: 15px;
}


@media (min-width: 768px) {
    .albumes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px; 
    }
}



#contacto {
    margin-top: 20px;
}

#contacto fieldset{
    border: none;
}

form {
    background-color: #000;
    color: #fff;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
}

form legend {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #acacac;
}

.campos {
    margin-bottom: 10px;
}

.campos label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.campos input, textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.campos button {
    margin-top: 15px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}


@media (min-width: 768px) {
    .alinear-derecha {
        width: 200px;
        margin: 15px auto 0;
    }
}


footer {
    text-align: center;
    padding: 30px;
    color: #fff;
}

main {
    background-image: url(https://w.forfun.com/fetch/fd/fd77c328d2d53d51472ccc5ac12ba7c0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#biografia p {
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

#biografia h2 {
    padding: 10px;
    
}

iframe {
    max-width: 400px;
}


.des{
    margin-top: 15px;
}


.albumes {
    margin-top: 15px;
    margin-bottom: 30px;
    display: grid;
    grid-column: 1 / 2;
    gap: 20px;
}