#albums h2{
    margin-top: 15px;
}

#albums h3{
    margin-top: 15px;
}

#contacto {
    margin-top: 20px;
}

#contacto fieldset{
    border: none;
}

form {
    background-color: #000;
    color: #fff;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 30px;
    color: #fff;
}

#biografia {
    background-image: url(https://w.forfun.com/fetch/fd/fd77c328d2d53d51472ccc5ac12ba7c0.jpeg);
}

#biografia p {
    text-align: justify;
    padding: 20px;
    font-size: 17px;
    color: #fff;
}

#biografia h2 {
    padding: 10px;
}

iframe {
    max-width: 700px;
}

article h3 {
    color: #fff;
}
.des{
    margin-top: 15px;
}